WindowsFormsApplication1/Service References/PKServiceReference/announce1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetXMLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AplyDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXMLDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetXMLDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>